* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 97px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #d4af37;
}

.list-link {
  display: flex;
  gap: 40px;
}

.link {
  color: #dddddd;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.main {
  background-color: #f9f5f0;
  padding: 60px 40px 53.83px 40px;
}

.list-card {
  display: flex;
  gap: 50px;
}

.card-item {
  box-shadow: 0px 8px 30px 0px #00000026;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 40px;
}

.food-name {
  font-size: 27.6px;
  color: #d4af37;
  font-weight: 700;
  margin-bottom: 30px;
}

.food-description {
  color: #555555;
  font-size: 17.7px;
  font-weight: 700;
  line-height: 28.8px;
  margin-bottom: 34.79px;
}

.food-image {
  object-fit: cover;
}

.footer {
  display: flex;
  height: 78px;
  background-color: #1e1e1e;
  color: #fff;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.footer-right a {
  text-decoration: none;
  color: #fff;
}
