.service {
    background-color: #F4F8F6;
}
.service_item {
    float: left;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
h3{
    color: #46D7FF;
}
p{
    color: #5F5D5B;
}