body{
    text-align: center;
}
form{
    border: 1px solid black;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;
}
h1{
    text-align: center;
    color: #0F766E;
    font-size: 45px;
}
label{
    display: block;
    font-size: 20px;
    color: #0F766E;
    margin-top: 18px;
    font-weight: bold;
}

input{
    width: 603px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #A1AEC1;
    border-radius: 5px;
}
select{
    width: 590px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #A1AEC1;
    border-radius: 5px;
}
textarea{
    width: 603px;
    height: 150px;
    border: 1px solid #A1AEC1;
    border-radius: 5px;
}
button{
    text-align: center;
    width: 595px;
    height: 40px;
    border: 0px solid;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #0EA5A4;
    color: #ffffff;
    font-size: 20px;
}