* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
}

.body{
    background-color:#49BBBD;
}
.see-all {
    color:#49BBBD;
}
.list-card {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
.card {
    width: 374px;
    height: 617px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  



}

.card img{
    border-radius: 8px;
    padding-left: 20px;
}
.time {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}

.description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.profile {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.avata {
    display: flex;
    gap: 10px;
    align-items: center;
}


.price {
    display: flex;
    gap: 10px;
}
.price-new {
}
