*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:sans-serif ;
    font-size: 16px;
    max-width: 30%;
    margin: 0 auto;
    background-color: #F8F9FA;
}
form{
    background-color: #fff;

}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 38px;
}

h1+p{
    margin: 18px 0 32px;
}

input[type="email"],
input[type="password"]{
    display: block;
    width: 95%;
    height: 36px;
    border: 1px solid #9093ab;  
    border-radius: 5px;
    padding-left: 16px;
    
}
label{
    display: inline-block;
    margin:5px 0 12px;
    font-size: 18px;
}
.content {
    padding:0 20px;
}

.choice {
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forget_password{
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: #0D6EFD;
}
button {
    width: 95%;
    height: 36px;
    margin: 24px 0 30px;
    border-radius: 5px;
    background-color: #0C68F0;
    color: #fff;
    border: 0;
}
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    color: #595C5F;
}
