*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:sans-serif ;
    font-size: 16px;
    max-width: 30%;
    margin: 0 auto;
    background-color: #F8F9FA;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 727px;
    width: 100%;
}
label{
    display: inline-block;
    margin: 20px 0 12px;
    font-size: 18px;
}
input{
    display: block;
    width: 95%;
    height: 36px;
    border: 1px solid #9093ab;  
    border-radius: 5px;
    padding-left: 16px;
    
}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 38px;
}
h1+p{
    margin: 18px 0 32px;
}

.name {
    display: flex;
    gap:18px;
    width: 100%;
}
.name input{
    width: 88%;
}
button {
    width: 95%;
    height: 36px;
    margin: 24px 0 30px;
    border-radius: 5px;
    background-color: #0C68F0;
    border: 0;
}

.footer {
    display: flex;
    justify-content: center;
    gap:10px;
    color: #595C5F;
}
a{
    text-decoration: none;
    color: #0D6EFD;
}


@media screen and (max-width:768px) {
    .name{
        flex-direction: column;
    }
    input{
        width: 90%;
    }
}