*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:sans-serif ;
    font-size: 16px;
    background-color: #F8F9FA;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.rikkei {
    width: 100%;
    height: 50px;
}
.list_link {
    display: flex;
    gap:50px
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
a:nth-child(3){
    width: 180px;
    background-color: #dfe8f2;
    border: 0;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #8B8DF3;
}
.me {
    display: flex;
    gap: 10px;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.banner {
    background-color: #5651E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 184px;
    color: #fff;

}
h1{
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 20px;
}
.course {
    display: flex;
    gap:10px;
    margin-top: 20px;
}
.card {
    padding: 10px 20px;
    border: 1px solid #E5E7EB;
    margin-left: 20px;
    border-radius: 8px;
}
.card:first-child{
    background-color: #6366F1;
    color: #fbffff;
}



@media screen and (max-width:786px) {
    .header{
        
        flex-direction: column;
         align-items: center;
         gap: 20px;;
        
    }
    .list_link{
       flex-direction: column;
       align-items: center;
    }
    .me{
        flex-direction: column;
    }
    .course{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
    }
}