body {
  font-family: cursive;
  background-color: #b56d16;
  color: #3f2a1d;
  font-size: 18px;
}

h1 {
  background-color: #fde68a;
  color: #78350f;
  text-align: center;
  font-size: 32px;
}

.menu {
  background-color: #FFFFFF;
  text-align: center;
}

.menu a {
  color: #7c2d12;
  text-decoration: none;
  font-weight: bold;
  background-color: #FFFFFF;
}

.menu a:hover {
  color: white;
  background-color: #c2410c;
}

.banner {
  text-align: center;
  background-color: #FFFFFF;
}

.section {
  background-color: #FFFFFF;
}

.section {
  color: #92400e;
  font-size: 24px;
}

.section li {
  color: #431407;
}

.footer {
  background-color: #78350f;
  color: #fff7ed;
  text-align: center;
  font-size: 16px;
}

ol li:hover {
  background-color: #78350f;
  color: yellow;
}
